#notification{
    width: fit-content;
    /* background-color: #f3e788; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    left: 10px;
}

.pagination .page-link{
    color:#ffe205;
    font-size: large;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    color:#f7dd18;
}

.pagination .page-item.active .page-link {
    background-color: #facd03; 
    border-color: #facd03;
    color: white;              
}
